@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "yizellow";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(87% 0.15 154.449);
  --color-base-content: oklch(54% 0.281 293.009);
  --color-primary: oklch(87% 0.15 154.449);
  --color-primary-content: oklch(54% 0.281 293.009);
  --color-secondary: oklch(54% 0.281 293.009);
  --color-secondary-content: oklch(87% 0.15 154.449);
  --color-accent: oklch(45% 0.24 277.023);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(84% 0.143 164.978);
  --color-neutral-content: oklch(54% 0.281 293.009);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
